{% macro all_blogs(blogs, del_form) %}
{% for blog in blogs %}
<div class="blog-items">
    <ul class="pl-0 ">
        <li>
            <div class="border-bottom ">
                <div class=" d-inline-flex border-success pb-3 my-1 blog-dashboard flex-fill">
                    <label class="d-flex align-items-center blog-index flex-fill border-right border-infogv v xs" for="number">{{
                        blog.id
                        }}</label>
                    <p class="d-flex align-items-center blog-title flex-fill">
                        <span>{{ blog.title }}</span>
                    </p>
                    <p class="d-flex align-items-center blog-author flex-fill text-info" data-toggle="collapse"
                        data-target="#blog-Options{{blog.id}}" aria-expanded="false">options
                        <span>
                            <i class="fas fa-caret-down pl-2"></i>
                        </span>
                    </p>
                    <p class="d-flex align-items-center blog-category flex-fill">{{ blog.category }}</p>
                    <!-- <h3 class="d-flex align-items-center blog-comments flex-fill">
                        <span>
                            <i class="fas fa-comment-dots">
                                <span class="ml-1">{{ blog.comments.all() | length }}</span>
                            </i>
                        </span>
                    </h3>
                    <h3 class="d-flex align-items-center blog-likes flex-fill">
                        <span>
                            <i class="fas fa-thumbs-up">
                                <span class="ml-1">{{ blog.likes }}</span>
                            </i>
                        </span>
                    </h3>
                    <h3 class="d-flex align-items-center blog-dislikes flex-fill">
                        <span>
                            <i class="fas fa-thumbs-down">
                                <span class="ml-1">{{ blog.dislikes }}</span>
                            </i>
                        </span>
                    </h3> -->
                    <p class="d-flex align-items-center blog-date flex-fill mr-1">
                        <small class="text-muted">
                            {{ blog.time }}
                        </small>
                    </p>
                </div>
                <div class="collapse" id="blog-Options{{blog.id}}">
                    <form class="d-inline-flex" action="" method="POST">
                        <fieldset>
                            {{ del_form.hidden_tag() }}
                            {{del_form.post_id(value=blog.id, class='d-none')}}
                            {{ del_form.submit(class='form-control-sm btn btn-danger') }}
                        </fieldset>
                        <form class="d-inline-flex" action="" method="POST">
                            <fieldset>
                                {{ del_form.hidden_tag() }}
                                {{del_form.post_id(value=blog.id, class='d-none')}}
                                {{ del_form.submit(class='form-control-sm btn btn-danger') }}
                            </fieldset>
                        </form>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endfor %}
{% endmacro %}