{% from "new_blog.html" import new_blog with context %}
{% from "blogs.html" import all_blogs with context %}
{% extends 'layout.html' %}
{% block content %}
<div class="dashboard">
    <div class="side-bar border-right border-secondary pl-2">
        <h1>{{title}}</h1>
        <ul class="d-block pl-0">
            <li>
                <a class="nav-link" data-toggle='collapse' data-target='#posts' aria-expanded="false" href="#">Posts</a>
                <ul id="posts" class="collapse">
                    <li>
                        <a class="all-posts" onclick="clicked()" href="">all</a>
                    </li>
                    <li>
                        <a class="draft-posts" href="">draft</a>
                    </li>
                    <li>
                        <a class="published-posts" href="">published</a>
                    </li>
                </ul>

            </li>
            <li>
                <a class="nav-link" href="#">Comments</a>
            </li>
            <li>
                <a class="nav-link" href="#">Stats</a>
            </li>
            <li>
                <a class="nav-link" href="#">Settings</a>
            </li>
        </ul>
    </div>
    <div class="main px-3 ml-3">
        <div class="dash-content">
            <div class=" mb-3">
                <a href="#new-blog-form" on-click="newBlogForm()" class="text-light m-0 btn btn-success">
                    New Blog Post
                </a>
            </div>
            <div class="blog-form d-none">
                {{ new_blog(form) }}
            </div>
            <div class="all-blogs">
                {{ all_blogs(blogs, del_form) }}
            </div>
        </div>
    </div>
</div>

{% endblock content %}