{% extends 'layout.html' %}
{% block content %}
<h1>{{ title }}</h1>
<h1>User {{current_user.username}} is logged in</h1>
{% for blog in blogs %}
<div>
    <h1>{{ blog.title }}</h1>
    <div>
        <p>{{ blog.content }}</p>
    </div>
    <button>comment</button>
</div>
<div class="comments">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.blog_id(value=blog.id, class='d-none') }}
        <legend>Comment</legend>
        <div class="form-group">
            {{ form.content.label(class='form-control-sm btn-sm btn-light') }}
            {{ form.content(class='form-control') }}
        </div>
        <div class="form-group">
            {{ form.submit(class='form-control-sm btn-sm btn-light') }}
        </div>
    </form>
    <div class="comments-display">
        {% for comment in comments %}
        <p>
            {{ comment.content }}
        </p>
        {% endfor %}
    </div>
</div>

{% endfor %}
{% endblock content %}